.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f8ff;
  gap: 40%;
  height: 15vh;
}

.heading {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
}
